<a href="https://colab.research.google.com/github/Riddhiman-1098/-Data-Analysis--Python/blob/main/Project_Weather_Data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
import pandas as pd
import requests
from io import StringIO
import matplotlib.pyplot as plt

In [8]:

url='https://drive.google.com/file/d/1lBowvJbK5lIZntCs_-sMElyO3JJQWNHk/view?usp=drive_link'

file_id = url.split('/')[-2]
dwn_url='https://drive.google.com/uc?export=download&id=' + file_id
url2 = requests.get(dwn_url).text
csv_raw = StringIO(url2)
df = pd.read_csv(csv_raw)
#print(df.head())

In [9]:
print(df.head())

             Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0  01.01.2010 00:10:00    967.56     -2.84    272.89        -3.41    95.8
1  01.01.2010 00:20:00    967.45     -2.85    272.88        -3.43    95.7
2  01.01.2010 00:30:00    967.45     -2.88    272.85        -3.46    95.8
3  01.01.2010 00:40:00    967.34     -2.90    272.84        -3.47    95.8
4  01.01.2010 00:50:00    967.29     -2.96    272.78        -3.53    95.8

   VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  ...  wv (m/s)  \
0          4.95          4.75          0.21       3.06  ...      1.61
1          4.95          4.74          0.21       3.05  ...      2.00
2          4.94          4.73          0.21       3.05  ...      2.25
3          4.93          4.72          0.21       3.04  ...      2.64
4          4.91          4.70          0.21       3.03  ...      2.82

   max. wv (m/s)  wd (deg)  rain (mm)  raining (s)  SWDR (W/m�)  \
0           2.76     15.41        0.0            0          0.0
1           3.10     17.04        0.0            0          0.0
2           3.79     25.35        0.0            0          0.0
3           3.77     23.64        0.0          270          0.0
4           4.29     18.94        0.0          310          0.0

   PAR (�mol/m�/s)  max. PAR (�mol/m�/s)  Tlog (degC)  CO2 (ppm)
0              0.0                   0.0         8.59      404.6
1              0.0                   0.0         8.53      404.1
2              0.0                   0.0         8.52      404.3
3              0.0                   0.0         8.54      404.0
4              0.0                   0.0         8.55      401.9

[5 rows x 22 columns]

In [19]:



df['T_(degC)'] = df['T (degC)']


print(df.head())

             Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0  01.01.2010 00:10:00    967.56     -2.84    272.89        -3.41    95.8
1  01.01.2010 00:20:00    967.45     -2.85    272.88        -3.43    95.7
2  01.01.2010 00:30:00    967.45     -2.88    272.85        -3.46    95.8
3  01.01.2010 00:40:00    967.34     -2.90    272.84        -3.47    95.8
4  01.01.2010 00:50:00    967.29     -2.96    272.78        -3.53    95.8

   VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  ...  max. wv (m/s)  \
0          4.95          4.75          0.21       3.06  ...           2.76
1          4.95          4.74          0.21       3.05  ...           3.10
2          4.94          4.73          0.21       3.05  ...           3.79
3          4.93          4.72          0.21       3.04  ...           3.77
4          4.91          4.70          0.21       3.03  ...           4.29

   wd (deg)  rain (mm)  raining (s)  SWDR (W/m�)  PAR (�mol/m�/s)  \
0     15.41        0.0            0          0.0              0.0
1     17.04        0.0            0          0.0              0.0
2     25.35        0.0            0          0.0              0.0
3     23.64        0.0          270          0.0              0.0
4     18.94        0.0          310          0.0              0.0

   max. PAR (�mol/m�/s)  Tlog (degC)  CO2 (ppm)  T_(degC)
0                   0.0         8.59      404.6     -2.84
1                   0.0         8.53      404.1     -2.85
2                   0.0         8.52      404.3     -2.88
3                   0.0         8.54      404.0     -2.90
4                   0.0         8.55      401.9     -2.96

[5 rows x 23 columns]

**DATA CLEANSING**

**Data Inspection**: Begin by inspecting the dataset to understand its structure, features, and any potential issues. This involves examining the data types of each column, checking for missing values, outliers, and inconsistencies.

In [30]:
print(df.head())  # Display the first few rows
print(df.info())  # Summary of the DataFrame

             Date Time  p (mbar)  T (degC)  Tpot (K)  Tdew (degC)  rh (%)  \
0  01.01.2010 00:10:00    967.56     -2.84    272.89        -3.41    95.8
1  01.01.2010 00:20:00    967.45     -2.85    272.88        -3.43    95.7
2  01.01.2010 00:30:00    967.45     -2.88    272.85        -3.46    95.8
3  01.01.2010 00:40:00    967.34     -2.90    272.84        -3.47    95.8
4  01.01.2010 00:50:00    967.29     -2.96    272.78        -3.53    95.8

   VPmax (mbar)  VPact (mbar)  VPdef (mbar)  sh (g/kg)  ...  max. wv (m/s)  \
0          4.95          4.75          0.21       3.06  ...           2.76
1          4.95          4.74          0.21       3.05  ...           3.10
2          4.94          4.73          0.21       3.05  ...           3.79
3          4.93          4.72          0.21       3.04  ...           3.77
4          4.91          4.70          0.21       3.03  ...           4.29

   wd (deg)  rain (mm)  raining (s)  SWDR (W/m�)  PAR (�mol/m�/s)  \
0     15.41        0.0            0          0.0              0.0
1     17.04        0.0            0          0.0              0.0
2     25.35        0.0            0          0.0              0.0
3     23.64        0.0          270          0.0              0.0
4     18.94        0.0          310          0.0              0.0

   max. PAR (�mol/m�/s)  Tlog (degC)  CO2 (ppm)  T_(degC)
0                   0.0         8.59      404.6     -2.84
1                   0.0         8.53      404.1     -2.85
2                   0.0         8.52      404.3     -2.88
3                   0.0         8.54      404.0     -2.90
4                   0.0         8.55      401.9     -2.96

[5 rows x 23 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 656956 entries, 0 to 656955
Data columns (total 23 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date Time             656956 non-null  object
 1   p (mbar)              656956 non-null  float64
 2   T (degC)              656956 non-null  float64
 3   Tpot (K)              656956 non-null  float64
 4   Tdew (degC)           656956 non-null  float64
 5   rh (%)                656956 non-null  float64
 6   VPmax (mbar)          656956 non-null  float64
 7   VPact (mbar)          656956 non-null  float64
 8   VPdef (mbar)          656956 non-null  float64
 9   sh (g/kg)             656956 non-null  float64
 10  H2OC (mmol/mol)       656956 non-null  float64
 11  rho (g/m**3)          656956 non-null  float64
 12  wv (m/s)              656956 non-null  float64
 13  max. wv (m/s)         656956 non-null  float64
 14  wd (deg)              656956 non-null  float64
 15  rain (mm)             656956 non-null  float64
 16  raining (s)           656956 non-null  int64
 17  SWDR (W/m�)           656956 non-null  float64
 18  PAR (�mol/m�/s)       656956 non-null  float64
 19  max. PAR (�mol/m�/s)  656956 non-null  float64
 20  Tlog (degC)           656956 non-null  float64
 21  CO2 (ppm)             656956 non-null  float64
 22  T_(degC)              656956 non-null  float64
dtypes: float64(21), int64(1), object(1)
memory usage: 115.3+ MB
None

**Handling Missing Values:** Missing values are common in datasets and can arise due to various reasons such as data entry errors, equipment malfunction, or intentional omission. Decide how to handle missing values based on the context of the data and the impact of missingness on the analysis. Common strategies include:

Removing rows or columns with missing values.
Imputing missing values using statistical measures such as mean, median, or mode.
Predictive imputation methods such as regression or k-nearest neighbors.

In [31]:
print("Number of missing values per column:")
print(df.isnull().sum())  # Check for missing values

Number of missing values per column:
Date Time               0
p (mbar)                0
T (degC)                0
Tpot (K)                0
Tdew (degC)             0
rh (%)                  0
VPmax (mbar)            0
VPact (mbar)            0
VPdef (mbar)            0
sh (g/kg)               0
H2OC (mmol/mol)         0
rho (g/m**3)            0
wv (m/s)                0
max. wv (m/s)           0
wd (deg)                0
rain (mm)               0
raining (s)             0
SWDR (W/m�)             0
PAR (�mol/m�/s)         0
max. PAR (�mol/m�/s)    0
Tlog (degC)             0
CO2 (ppm)               0
T_(degC)                0
dtype: int64

**Dealing with Duplicates:** Duplicates can skew analysis results and lead to biased insights. Identify and remove duplicate rows from the dataset, keeping only the unique records.

In [32]:
print("Number of duplicate rows:", df.duplicated().sum())  # Check for duplicates

Number of duplicate rows: 334

In [33]:
# Remove duplicate rows
df.drop_duplicates(inplace=True)

**Correcting Data Errors:** Data errors can manifest in various forms such as spelling mistakes, incorrect formatting, or inconsistencies. Some common techniques to correct data errors include:

Standardizing formats (e.g., converting text to lowercase, removing leading/trailing spaces).
Using domain knowledge or external references to validate and correct erroneous data.
Applying data transformation techniques (e.g., scaling, normalization) to ensure consistency across features.

Example: Convert 'Gender' column to lowercase
df['Gender'] = df['Gender'].str.lower()

In [38]:
df["T_(degC)"].mean()

9.860449314826488